@charset "utf-8";
@import
'../sass-module/_var',
'../sass-module/font',
'../sass-module/_reset-md',
'../sass-module/_mixin-md',
'../sass-module/_layout',
'../sass-module/_common-md',
'../sass-module/_modal',
'../sass-module/_actionsheet';
@include md-login;
@include home-footer;

.seller-agree-popup{}
.seller-agree-popup .agree-container{padding-bottom:30px;}
.seller-agree-popup .agree-container .txt-box{padding-bottom:20px;}
.seller-agree-popup .agree-container .txt-box p{letter-spacing: -0.05em;text-align: left;}
.seller-agree-popup .agree-container .txt-box p:nth-child(1){font-size:$font-32px;color:$font-clr-1;font-weight: 500;}
.seller-agree-popup .agree-container .txt-box p:nth-child(2){font-size:$font-26px;color:$font-clr-2;}
.seller-agree-popup .agree-container .agree-box{}
.seller-agree-popup .agree-container .agree-box.all-agree-box{border-bottom:1px solid #ddd;}
.seller-agree-popup .agree-container .agree-box .chk-box-type2{padding:20px 0;}
.seller-agree-popup .agree-container .agree-box.all-agree-box .chk-box-type2 p em{font-weight: bold;}
.seller-agree-popup .agree-container .agree-box .terms-box{padding:10px;background-color:$common-clr-1;box-sizing: border-box;}
.seller-agree-popup .agree-container .agree-box .terms-box .terms-inner{height: 41.67vw;max-height: 200px;overflow-y: auto;}
.seller-agree-popup .agree-container .agree-box .terms-box .terms-inner p{font-size:$font-26px;letter-spacing: -0.05em;color:$font-clr-1;}

.seller-complete-popup{}
.seller-complete-popup .modal_cont{padding-top:0;}
.seller-complete-popup .complete-box{}
.seller-complete-popup .complete-box .img-box{width:calc(100% + 40px);margin-left:-20px;}
.seller-complete-popup .complete-box .text-box{}
.seller-complete-popup .complete-box .text-box p{color:$font-clr-1;letter-spacing: -0.05em;text-align: center;}
.seller-complete-popup .complete-box .text-box p:nth-child(1){font-size:$font-46px;padding:45px 0 25px;}
.seller-complete-popup .complete-box .text-box p:nth-child(2){font-size:$font-30px;}

.seller-info-popup {
  .modal_cont {
    padding: 0 0 20px;
  }
  .button-box {
    display: flex;
    flex-wrap: nowrap;
    button {
      width: 100%;
    }
  }
}