@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: btns                                       	  */
// date		: 20200915
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* btns s =================================================== */

/* modal btns */
.button-box{position:relative;overflow: hidden;}
.button-box .w100{width:100%;}
.button-box .w50{width:50%;}
.modal-blk-btn{display:inline-block;height:52px;text-align:center;font-size:12px;color:#fff;background-color:$btn-clr-1;}
.modal-blk-btn:disabled{background-color:#B9B9B9;}
.modal-blk-btn.disabled{background-color:#B9B9B9;}
.modal-blk-btn span{font-size:$font-30px;color:#fff;line-height: 3.2em;}
.modal-blk-btn.h80{height:40px;border-radius: 5px;}
.modal-blk-btn.h80 span{font-size:$font-26px;line-height: 2.8em;}
.modal-blk-btn.h96{height:40px;border-radius: 5px;}
.modal-blk-btn.h96 span{font-size:$font-26px;}
.modal-blk-btn.rnd{border-radius: 5px;}

.modal-gray-btn{height:52px;text-align:center;font-size:12px;color:$font-clr-1;background-color:#F8F8FA;}
.modal-gray-btn span{font-size:$font-30px;}

.modal-gray-btn,
.modal-blk-btn {
  &.btn-rnd {
    border-radius:$brd-rnd;
  }
}

/* mypage btns */
.white-btn{
  display:inline-block;
  height:48px;
  line-height:48px;
  //font-size:$font-30px;
  font-size:$font-15r;
  color:$font-clr-1;
  text-align:center;
  background-color:#fff;
  border:1px solid #B9B9B9;
  border-radius:5px;
}
.white-btn.h80{height:40px;font-size:$font-26px;color:$font-clr-1;line-height: 2.7em;}
.gray-btn{display:inline-block;height:40px;font-size:$font-26px;color:$font-clr-1;text-align:center;line-height: 2.8em;background-color:#F5F5F5;border-radius:5px;}
.gray-btn.h80{height:40px;font-size:$font-26px;line-height: 2.8em;}
.gray-btn.h96{height:48px;font-size:$font-30px;line-height: 2.8em;}
.gray-btn2{display:inline-block;height:40px;font-size:$font-26px;color:$font-clr-2;text-align:center;line-height: 2.8em;background-color:#ddd;border-radius:5px;}
.gray-btn2.h80{height:40px;font-size:$font-26px;line-height: 2.8em;}
.gray-btn2.h96{height:48px;font-size:$font-30px;line-height: 2.8em;}

.red-btn {
  display: inline-block;
  height: 38px;
  font-size: $font-26px;
  color: $font-clr-4;
  text-align: center;
  line-height: 2.8em;
  background-color: $point-clr;
  border-radius: 5px;
  &.h96 {
    height: 48px;
    font-size: $font-34px;
    line-height: 2.8em;
  }
}

.point-btn {
  display: inline-block;
  height: 38px;
  font-size: $font-26px;
  color: $font-clr-0;
  text-align: center;
  line-height: 2.8em;
  background-color: $point-clr-3;
  border-radius: 5px;
  &.h96 {
    height: 48px;
    font-size: $font-34px;
    line-height: 2.8em;
  }
}

.share-btn {
  width: 28px;
  height: 28px;
  background: url($img-path + "icon/prod_share.png") no-repeat left top;
  background-size: 100%;
}
.kakao-btn {
  width: 37px;
  height: 37px;
  background: url($img-path + "icon/kakao_share_74x74.png") no-repeat left top;
  background-size: 100%;
}
.kakaotalk-btn {
  position:absolute;
  top:0;
  right:0;
  width: 31px;
  height: 31px;
  background: url($img-path + "icon/icon_kakao_talk.png") no-repeat left top;
  background-size: 100%;
}
.share-btn-0{
  position:absolute;
  top:0;
  right:0;
  width:36px;
  height:36px;
  background:url($img-path + "icon/ico_menu_more.png") no-repeat center;
  background-size:60%;
}

.share-btn-1{
  position:absolute;
  top:0;
  right:0;
  width:36px;
  height:36px;
  background:url($img-path + "icon/detail_share_0_v2.png") no-repeat center;
  background-size:100%;
}

.underline-link {
  display:inline-block;
  font-size:$font-13r;
  font-weight:$b;
  color:#000;
  border-bottom:1px solid #000;
  &.thin {
    font-weight:400;
  }
  &.sty2 {
    font-weight:$md;
    font-size:$font-12r;
    color:$point-clr-2;
    border-bottom:1px solid $point-clr-2;
  }
}

.btn-list-wrap {
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  > li {
    display:inline-block;
    padding-right:10px;
    padding-bottom:10px;
    
    > a,
    > button {
      display:inline-block;
      width:100%;
    }
  }
  &.div-2 {
    > li {
      width:50%;
      &:nth-child(2n) {
        padding-right:0;
      }
    }
  }
  &.div-3 {
    > li {
      width:33.33%;
      &:nth-child(3n) {
        padding-right:0;
      }
    }
  }
  &.div-4 {
    > li {
      width:25%;
      &:nth-child(4n) {
        padding-right:0;
      }
    }
  }
}

.link-naver-blog,
.link-instagram {
  display:inline-block;
  width:62px;
  height:62px;
  span {
    @include textHide();
  }
}
.link-naver-blog {
  //background:url($img-path + "icon/icon_naver_blog.png") no-repeat center;
  background:url($img-path + "icon/icon_naver_blog_v2.png") no-repeat center;
  background-size:cover
}
.link-instagram {
  //background:url($img-path + "icon/icon_insta.png") no-repeat center;
  background:url($img-path + "icon/icon_insta_v2.png") no-repeat center;
  background-size:cover
}

.more-btn {
  font-size: $font-24px;
  color: $font-clr-3;
  line-height: 1.2em;
  font-family: 'Roboto';
  &:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 6px;
    margin-left: 5px;
    background: url($img-path + "icon/title_more.png") no-repeat left top;
    background-size: 100%;
  }
}
.more-btn2 {
  font-size: $font-14r;
  color: $font-clr-0;
  line-height: 3rem;
  &:after {
    content: '';
    display: inline-block;
    width: 19px;
    height: 8px;
    margin-left: 5px;
    background: url($img-path + "icon/title_more_b.png") no-repeat left top;
    background-size: 100%;
  }
}

/* btns e =================================================== */