@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: page                                       	  */
// date		: 20210118
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* page s =================================================== */

//이용가이드
.service-guide-wrap {
  padding-bottom:30px;
}

.landing-join-box {
  padding-top:15px;
  padding-bottom:30px;
  .title-box-type2 {
    text-align:center;
    .tit-txt {

    }
  }
  .button-box {
    margin-top:30px;
    li {
      display:inline-block;
      width:49.6%;
      text-align:center;
      background:url($img-path + "bg/line_bg_gray.png") no-repeat 0;
      background-size:1px;
      &:first-child {
        background:none;
      }
    }
  }
}
/* page e =================================================== */