@charset "utf-8";
// ======================================================================== //
// file		: variables
// date		: 20200915
// ======================================================================== //

// variables
$img-path:'../images/';
//$img-path:'/resources/static/images/';
$mini-pc-w: 640px;
$mini-mo-w: $mini-pc-w - 1;

$dflt-pd1: 20px;
$dflt-pd2: 25px;
$dflt-pd3: 30px;

$main-clr : #191919;
$point-clr : #f30000;//text,icon
$point-clr-2 : #2989f8;//text,icon
$font-clr-0:#000;
$font-clr-1:#191919;
$font-clr-2:#767676;
$font-clr-3:#b9b9b9;
$font-clr-4:#fff;

$btn-clr-1:#191919;

$brd-rnd:5px;

$font-18px:0.875em;
$font-20px:1em;
$font-22px:1.083em;
$font-24px:1.167em;
$font-26px:1.250em;
$font-28px:1.333em;
$font-30px:1.417em;
$font-32px:1.500em;
$font-34px:1.583em;
$font-36px:1.667em;
$font-40px:1.833em;
$font-46px:2.084em;
$font-48px:2.167em;
$font-50px:2.250em;
$font-52px:2.333em;
$font-60px:2.50em;

$font-12r:1.2rem;
$font-13r:1.3rem;
$font-14r:1.4rem;
$font-15r:1.5rem;
$font-16r:1.6rem;
$font-17r:1.7rem;
$font-18r:1.8rem;
$font-19r:1.9rem;
$font-20r:2rem;
$font-22r:2.2rem;
$font-24r:2.4rem;
$font-26r:2.6rem;
$font-28r:2.8rem;
$font-30r:3rem;
$font-32r:3.2rem;
$font-34r:3.4rem;
$font-36r:3.6rem;
$font-40r:4rem;
$font-46r:4.6rem;
$font-48r:4.8rem;
$font-50r:5rem;
$font-52r:5.2rem;
$font-60r:6em;

$common-clr-1:#f5f5f5;//line
$common-clr-2:#ddd;//line,shape
$common-clr-3:#000;//
$common-clr-4:#fff;//shape,line,icon
